.shop {
	width: 100%;
	height: 100%;
	
	display: flex;
}

.shop-controls {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	width: 100%;
	align-items: left;
	padding: 1rem;
}

.shop-data {
	width: 100%;
	height: 100%;
	display: grid;
	gap: 0.5rem;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	overflow-y: scroll;
}

.search-input {
	width: 5rem;
	position: relative;
}
